$profile_full_image_height: 120px;
$slope_top_offset: 40px;
$side_padding: 20px;

$small_profile_img_height: 36px;
$small_profile_img_width: 36px;
$small_profile_scale: 0.8;

$navigation_links_height: 46px;

#top-bar {
  position: relative;
  .profile {
    padding: 0 $side_padding;
    overflow: hidden;
    position: absolute;
    width: 100%;
    img {
      position: relative;
      display: block;
      height: $profile_full_image_height;
      border: 3px solid white;
      border-radius: 1px;
      @include transition($transition);
    }
    .slope-bg {
      position: absolute;
      top: $slope_top_offset;
      left: -10px;
      height: $profile_full_image_height;
      width: 150%;
      background-color: white;
      @include transformOrigin(0 0);
      @include transform(rotate(2deg));
      @include transition($transition);
    }
  }

  @import './navigation';

  .profile-bar.fixed-to-page {
    .profile {
      top: -$profile_full_image_height;
      left: 0;
    }
  }

  .fixed-to-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    z-index: $top_bar_zindex;
  }
}

#homepage.profile-reached {
  #top-bar {
    .profile {
      img {
        opacity: 0;
        @include transform(translateY(-100%));
      }
      .slope-bg {
        @include transform(rotate(0deg));
      }
    }
    @import './navigation.profile-reached';
  }
}

#homepage.stick-navigation {
  #top-bar {
    .fixed-to-window {
      opacity: 1;
      pointer-events: initial;
    }
  }
}
