$profile_full_image_height: 120px;
$slope_top_offset: 40px;
$side_padding: 10px;

#top-bar {
  position: relative;
  .profile-bar {
    padding: 0 $side_padding;
    overflow: hidden;
    position: absolute;
    width: 100%;
    .profile {
      img {
        position: relative;
        display: block;
        height: $profile_full_image_height;
        border: 3px solid white;
        border-radius: 1px;
        @include transition($transition);
      }
    }
    .slope-bg {
      position: absolute;
      top: $slope_top_offset;
      left: -10px;
      height: $profile_full_image_height;
      width: 150%;
      background-color: white;
      @include transformOrigin(0 0);
      @include transform(rotate(2deg));
      @include transition($transition);
    }
  }
  .navigation {
    padding: 0 $side_padding;

    .profile-info {
      position: relative;
      text-align: left;
      .profile-name,
      .profile-title {
        display: block;
      }

      .profile-name {
        font-weight: $font_weight_bold;
        font-size: $large_font;
      }

      .profile-title {
        font-size: $small_font;
      }
    }
  }

  .profile-bar.fixed-to-page {
    top: -$profile_full_image_height;
    left: 0;
  }
}

#homepage.profile-reached {
  #top-bar {
    .profile-bar {
      .profile {
        img {
          @include transform(translateY(-2 * $profile_full_image_height));
        }
      }
      .slope-bg {
        @include transform(rotate(0deg));
      }
    }
  }
}
